body {
    font-family: 'Roboto', sans-serif;
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.navbar-default {
    background-color: #fff;
    margin-bottom: 0 !important;
}

.navbar-nav > li > a {
    text-transform: lowercase;
    color: #858585 !important;
    margin-right: 8px;
    font-weight: 300;
}

.nav li {
 display: inline;
}

#content {
  position: absolute;
  top: 25%;
  text-align: center;
  width: 100%;
}

#content div {
  margin-top: 25px;
}

#content p {
  border-radius: 4px;
  color: white;
  position: relative;
  margin-top: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(0, 0, 0, 0.33);
  text-transform: lowercase;
  letter-spacing: 0.25px;
  font-weight: 200;
  display: inline;
  color: whitesmoke;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    volume: 50%;
    transition: 1s opacity;
}

#content p strong {
  font-weight: 500;
}

#content img {
  width: 203px;
  -webkit-filter: drop-shadow(0px 0px 50px rgba(255, 0, 0, 0.5));
}

.navbar-nav > li > a:hover {
    color: #5c5c5c !important;
}

.navbar-fixed-bottom {
    min-height: 70px;
    background: rgba(0, 0, 0, 0.6)
}

#footer-overlay {
    opacity: 0.1;
    width: 100%;
    height: 70px;
    position: absolute;
}

.navbar-fixed-bottom .navbar-text {
    color: white;
    font-weight: 300;
    opacity: 0.25;
    margin-top: 30px;
}

.navbar-fixed-bottom .container {
    height: 70px;
}

a > i {
    margin-right: 2px;
}

.navbar-toggle {
    z-index: 3;
}


.navbar-default {
}

#store-button {
    background-color: #FFFFFF;
    color: white;
    padding: 3px 6px;
    margin-top: 5px;
    margin-right: 10px;
    text-transform: lowercase;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.32), inset 0 0 0 2px rgba(255, 255, 255, 0.19);
    min-width: 72px;
}

.navbar .btn-group {
    margin-bottom: 0;
    margin-left: 10px;
}

.navbar .btn-group .btn {
    height: 25px;
    padding: 3px 6px;
}

.btn-group .btn {
    box-shadow: none;
    background-color: #f7f7f7;
}

.btn-group .btn {
    border: 1px solid #d2d2d2;
}

.btn-group .btn:first-child {
    border-left: none;
    border-top: none;
    border-bottom: none;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.32), inset 0 0 0 2px rgba(255, 255, 255, 0.19);
}

.btn-group .btn-group .btn {
    border: 1px solid #d2d2d2;
    box-shadow: none;
}

.btn-group .btn:nth-child(2) {
    padding-left: 8px;
    padding-right: 8px;
}

.navbar .caret {
    margin-top: -2px;
    color: #707070;
}

#store-button:hover {
    background-color: #F9F9F9;
}

#store-button:active {
    background-color: #F9F9F9;
    color: whitesmoke;
}

.navbar input {
    height: 25px;
    margin-top: 6px;
    font-size: 14px;
    text-transform: lowercase;
    background-color: #ECF0F1;
    border: 1px solid #d2d2d2 !important;
    width: 200px !important;
    color: #c6c8c9 !important;
}

.navbar-right li a {
    padding-right: 6px;
}

.navbar-form {
    padding: 0;
    color: black;
}

.btn {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.32), inset 0 0 0 2px rgba(255, 255, 255, 0.19);
    text-transform: lowercase;
}

.btn-danger {
    background-color: #E74C3C;
}

.btn-primary {
    background-color: #3498db;
}

.btn-primary:hover {
    background-color: #FFD700;
}

.btn-primary:active, .btn-primary:focus {
    background-color: #FFD700 !important;
    color: whitesmoke;
}

input.form-control, input.form-control:focus {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: #444444 !important;
    z-index: -1;
}
.main-block .main-block-holder {
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	font-size: 26px;
	padding: 10px;
}

.main-block .main-block-holder img {
	width: 99px;
	height: auto;
	display: block;
	margin: 0 auto 8px;
}

.main-block h1 {
	font-size: 49px;
	color: #fff;
	font-weight: 300;
	margin: 0 0 -6px;
}

.main-block p {
	margin: 0 0 5px;
}

.main-block p b {
	font-weight: 500;
}

.main-block .press {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	color: #fff;
	opacity: .29;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 0 20px;
}

.download {
	width: 134px;
	height: 134px;
	border: 17px solid rgba(255, 255, 255, .05);
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	font-size: 36px;
}

.download:hover {
	opacity: .9;
	color: #fff;
	text-decoration: none;
}

.download i {
	opacity: 0.7;
}

.download .circle {
	display: block;
	border: 6px solid #fff;
	border-radius: 100%;
	width: 100px;
	height: 100px;
}

.download .circle span {    
	background: #c1c1c1;
	box-shadow: 0 0 0 1px #d8d8d8 inset;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #cccccc;
	width: 88px;
	height: 88px;
	border-radius: 100%;
}

.main-container {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 1px rgba(0, 0, 0, .33);
	padding: 0 40px 20px;
	max-width: 932px;
	margin: 0 auto;
	padding: 33px 40px 20px;
	position: relative;
	min-height: calc(100vh - 180px);
}

.main-container:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 18px;
	width: 100%;
	background-color: #e5e5e5;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #dedede;
	box-shadow: 0 0 1px rgba(0, 0, 0, .33);
}

h1 {
	text-align: center;
	margin: 0 0 25px;
}

h1 span {
	font-size: 9px;
	line-height: 11px;
	display: block;
	font-weight: 900;
	color: rgba(131, 131, 131, .47);
	letter-spacing: 1px;
	margin-bottom: -4px;
}

.footer .navbar-brand > img {
    display: inline-block;
    margin-top: 5px;
}

input {
    font-family: 'FontAwesome', 'Roboto', sans-serif;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c6c8c9 !important;
    font-weight: 300;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c6c8c9 !important;
    opacity: 1;
    font-weight: 300;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c6c8c9 !important;
    opacity: 1;
    font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c6c8c9 !important;
    font-weight: 300;
}

@media all and (max-width: 991px) {
  .navbar-brand {
    display: none;
  }
}
